.tipografia {
    font-family:Verdana, Geneva, Tahoma, sans-serif; 
}

#nombre::before {
    content:"➡️"
}

#estudiosyformacion::after {
    content:"👨‍🎓"
}

#proyectos::after {
    content:"👨‍💻"
}

h1 {
    color: blue;
}

h2 {
    color: grey; text-decoration: underline;
}

p {
    font-size: 1.1em;
}

.boton {
  background-color: blue;
  color: white;
  text-decoration: none;
}

.boton:hover {
  background-color: darkblue;
}

#negritaid {
    font-weight: bold;
    color: rgb(87, 80, 80)
}

.negrita {
    font-family:Verdana, Geneva, Tahoma, sans-serif; 
    font-weight: bold;
}

#amarillo {
    color:yellow
}

#verde{
    color: verde
}

ul li:first-child {
  color: red;
}

ol li:last-child{
    color: red
}

ul li{
    color: brown;
}

ol li{
    color:brown
}

#grande > li {
    font-size: 1.2em;
}

#pequeño > li {
    font-size: smaller;
}